.page{
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 100000;
}

.page h1{
  font-size: clamp(14px,5vw,100px);
  color: #fdde5f;
  text-align: center;

  text-shadow:
  /* Outer Ring */
  0.1em 0 0 #004764,
  -0.1em 0 0 #004764,
  0 0.1em 0 #004764,
  0 -0.1em 0 #004764,
  0.1em 0.1em 0 #004764,
  -0.1em 0.1em 0 #004764,
  0.1em -0.1em 0 #004764,
  -0.1em -0.1em 0 #004764,

  /* Intermediate Points */
  0.05em 0.1em 0 #004764,
  -0.05em 0.1em 0 #004764,
  0.05em -0.1em 0 #004764,
  -0.05em -0.1em 0 #004764,
  0.1em 0.05em 0 #004764,
  -0.1em 0.05em 0 #004764,
  0.1em -0.05em 0 #004764,
  -0.1em -0.05em 0 #004764,

  /* Inner Ring */
  0.05em 0 0 #004764,
  -0.05em 0 0 #004764,
  0 0.05em 0 #004764,
  0 -0.05em 0 #004764,
  0.05em 0.05em 0 #004764,
  -0.05em 0.05em 0 #004764,
  0.05em -0.05em 0 #004764,
  -0.05em -0.05em 0 #004764;
}
